.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Sets the height to 100% of the viewport height */
}

.firstElement {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
}

.midTabs1 {
    display: flex;
}

.tab1 {
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
}

.left,
.right {
    padding: 10px;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.right {
    background-color: #b39a7b;
    color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.secondElement {
    flex: 1;
}

.secondElement > div {
    border: 1px solid black;
    background-color: #b9b9b9;
    padding: 10px;
    margin-right: 10px; /* Spacing between divs */
}

.review {
    border: 1px solid #ccc; /* Example border style */
    padding: 10px; 
    border-radius: 25px;
    margin-bottom: 20px;
}

.reviewContent {
    display: flex;
}

.username,
.ratings,
.comment-box {
    flex: 1;
    padding: 10px; /* Add padding for spacing */
}

.comment-box {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 700px;
    padding: 40px;
}