.image img{
  width: 700px;
  height: 400px;
  object-fit: fill;
  border-radius: 15px;
}

.bed_icon{
  width: 30px;
  height: 30px;
}

.image_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agent_card{
  width: 500px;
  position: absolute;
  left: 55%;
  top: 45%;
}