
.property {
    display: flex;
    align-items: center;
    padding: 10px;
}

.property-details {
    display: flex;
}

.property-details p {
    margin-right: 10px; /* Space between paragraphs */
}

.property-info {
    flex: 1;
}

.property img {
    width: 200px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between image and text */
}

.action-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

.action-buttons button {
    background-color: white;
    margin-left: 10px; /* Space between buttons */
    display: block;
    padding: 10px;
    border-radius: 25px;
}