/*Create Property Page*/

.flex-container {
    display: flex;
    height: 100vh; /* Sets the height to 100% of the viewport height */
    justify-content: space-between; /* Arrange items with space between */
    align-items: center;
}

.first-Element {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 50px;
    background-color: #b39a7b;
    height: 150px;
}

.first-Element h2 {
    font-size: 200%;
}

.leftColumn,
.rightColumn {
    width: 50%; /* Set width for left and right columns */
    /* Add any additional styling as needed */
}

.leftColumn > div {
    margin: 15px;
    padding: 10px;
}

.rightColumn > div {
    margin: 10px;
    padding: 10px;
}

.middleColumn {
    display: flex;
    flex-grow: 1; /* Allow middle column to grow and take remaining space */
    text-align: center; /* Center-align text */
}

.middleColumn input[type="text"],
textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000; /* Add border to input fields */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

/*buttons*/

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px; /* Add padding as needed */
}

.return, .submit {
    margin: 0 100px; /* Add space between buttons */
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 10px; /* Add padding as needed */
    background-color: orange;
}