.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Sets the height to 100% of the viewport height */
}

.top-element {
    display: flex;
    justify-content: center;
    flex: 1; /* Takes up all available vertical space */
    height: 100px;
    width: 100px;
    background-color: lightblue;
}


.crave-search-bar {
    flex: 1;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center;
    background-color: #b9b9b9; /* Background color */
    padding: 50px 30px; /* Padding */
}

.crave-search-bar .searchbox{
    text-align: center;
    flex: 1; /* Take up remaining space */
    border: none; /* No border */
    border-radius: 25px; /* Crave edges */
    width: 500px;
    outline: none; /* Remove outline */
    padding: 5px; /* Padding */
}

.crave-search-bar .custom-button {
    flex: 1;
    text-align: center;
    background-color: #b39a7b; /* Button background color */
    color: #ffffff; /* Button text color */
    border-top-right-radius: 25px; /* Crave edge on the right */
    border-bottom-right-radius: 25px; /* Crave edge on the right */
    padding: 5px 10px; /* Padding */
    cursor: pointer; /* Cursor style */
}



.middleElement {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
}

.midTabs {
    display: flex;
}

.tab {
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
}

.tab-left,
.tab-right {
    padding: 10px;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.tab-left {
    background-color: #b39a7b;
    color: white;
    border-radius: 25px;
}

.new-listing {
    padding: 10px;
    cursor: pointer;
    background-color: #b9b9b9;
    border: 1px solid #ccc;
    border-radius: 25px;
}

/*property listings for REA*/

.bottomElement {
    padding: 10px;
}

.bottomElement > div {
    border: 1px solid black;
    background-color: #b9b9b9;
    padding: 10px;
    margin-right: 10px; /* Spacing between divs */
}

.property {
    display: flex;
    align-items: center;
    padding: 10px;
}

.property-details {
    display: flex;
}

.property-details p {
    margin-right: 10px; /* Space between paragraphs */
}

.property-info {
    flex: 1;
}

.property img {
    width: 200px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between image and text */
}

.action-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

.action-buttons {
    background-color: white;
    margin-left: 10px; /* Space between buttons */
    display: block;
    padding: 10px;
    border-radius: 25px;
}